/* CSS by ///ADD/// Olivia Parker */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  color: white;
  position: absolute;
  top: 0;
  right: 30%;
  transform: translateY(-77%);
  background: var(--blue-bulletin);
  padding: .65rem;
  text-decoration: none;
}

.skip-link:focus, .skip-link:hover {
  transform: translateY(-0%);
  color: white;
  text-decoration: none;
}
/* ///ADD/// Navigation Styles */
header {
 background: var(--blue-bulletin);
 min-height: 10rem;
 padding-top: .5rem;
}

header h1 {
  font-size: 30pt;
  margin-left: 1.5rem;
  margin-top: 1rem;
  font-style: var(--font-heading);
  color: white;
}

header p{
  font-style: var(--font-body);
  margin: .5rem 0 1rem 1.5rem;
  color: white;
}

.menu-button {
  text-decoration: none;
  padding: 1rem;
  background: var(--news-flash);
  display: block;
  text-align: center;
  margin: 0 1.5rem .0rem 1.5rem;
  color: white;
  font-style: var(--font-heading);
  text-transform: uppercase;
}

.menu {
visibility: hidden;
transform: translateY(-5px);
margin-bottom: 1rem;
padding-bottom: 20px;
max-height: 0;
}

.mobile-nav:hover .menu {
  visibility: visible;
  transform: translateY(0);
  max-height: 300px;
}

.menu a{
  text-decoration: none;
  background: var(--news-flash);
  color: white;
  padding: 1rem;
  font-style: var(--font-heading);
  text-transform: uppercase;
  display: block;
  margin: 0 1.51rem;
  }

  .menu li{
    text-align: center;
  }

  .menu a:hover {
    background:#9d212c;
  }
/* ///ADD/// Global Layout Styles */
video {
  width: 100%;
  margin-left: 0rem;

}
/* ///ADD/// Global Text Styles */
main h2 {
  font-style: var(--font-heading);
  font-size: 20pt;
  margin-bottom: .5rem;
  margin-top: 2.75rem;
  margin-left: 2.5rem;
}

main h3{
  font-style: var(--font-heading);
  font-size: 16pt;
}

.news-box {
  background: var(--news-flash);
  padding: 1rem;
  margin-bottom: .5rem;
  border: 1.5px solid black;
  margin: 0 3rem .5rem 3rem;
}

#breaking-news h3 {
  margin-top: .75rem;
  margin-left: .15rem;
  color: white;
  line-height: 2rem;
  font-size: 18pt;
}

p {
  font-style: var(--font-body);
  margin-left: 2.5rem;
  font-size: 11pt;
  line-height: 1.5rem;
  margin-right: 2.5rem;
}

#breaking-news p {
  color: white;
  margin: 0;
  padding-top: .5rem;
  border-top: .08em solid var(--watchdog-white);
}

blockquote {
  font-style: var(--font-heading);
  font-size: 13pt;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 3.5rem;
}
#featured-articles h2{
  margin-left:-.5rem;
}

#featured-articles {
  margin: 0 3rem;
}

#featured-articles h3 {
  font-size: 18pt;
  margin-bottom: .25rem;
}

#featured-articles p {
  border-top: .08em solid var(--blue-bulletin);
  margin: 0;
  padding-top: .5rem;
}

.feature {
  border: 1.5px solid var(--blue-bulletin);
  padding: 1.5rem;
  margin: .5rem 0rem;
}

#alerts {
  background: var(--news-flash);
  border: 2px solid var(--blue-bulletin);
  padding: 1rem 0;
  margin: 0 3rem 2rem 3rem;
}

#alerts label {
  margin-left: .5rem;
  margin-top: 2rem;
  color: white;
}

input {
  width: 93%;
  height: 2rem;
  margin-left: .55rem;
  margin-bottom: 1rem;
}

#form-label label {
  margin-left: 2.5rem;
  line-height: 3rem;
  margin-right: 13rem;
  color: white;
  font-style: var(--font-body)
  }

  #form-label input{
    position: absolute;
    left: 4.5rem;
    width: 4%;
    height: 4.5%;
    padding-bottom: 17rem;
  }

  fieldset {
    border: 2px solid var(--blue-bulletin);
    margin: 0 1rem;
  }
  legend {
    margin-left: .5rem;
    color: white;
    text-transform: uppercase;
    font-style: var(--font-heading);
  }

  #subscribe {
    margin-top: .5rem;
    background: var(--blue-bulletin);
    color: white;
    height: 3rem;
    width: 92%;
    margin-left: 1rem;
    font-size: 14pt;
    text-transform: uppercase;
  }
  
/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {

}